@model IEnumerable<Product>

@{
    ViewData["Title"] = "Products";
}

<h1>Products | <a asp-action="Create">Create New</a></h1>

<hr />

<table class="table text-center">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>Image</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Price.ToString("C2")</td>
            <td>@item.Category.Name</td>
            <td>
                <img src="/media/products/@item.ImageName" width="100" onerror="showDefaultImage(this)"/>
            </td>
            <td>
                <a asp-action="Update" asp-route-id="@item.Id">Edit</a>
                <a class="confirmDeletion" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
</table>

<pagination class="d-flex w-100 justify-content-center"
            total-pages="@ViewBag.TotalPages"
            route="/Admin/Products/Index/@ViewBag.CategorySlug"
            current-page="@ViewBag.CurrentPage">
</pagination>

