@model IndexViewModel<Product>

@{
    ViewData["Title"] = "Товары";
}

<h1>Товары</h1>

<div class="row">
    @foreach (var item in Model.Items)
    {
        <div class="col-4">
            <img src="/media/products/@item.ImageName" class="img-fluid" onerror="showDefaultImage(this)" />
            <h4>@item.Name</h4>
            <div>
                @Html.Raw(item.Description)
            </div>
            <p>
                @item.Price.ToString("C0")
            </p>
            <p>
                <a class="btn btn-primary" asp-controller="Cart" asp-action="Add" asp-route-id="@item.Id">В корзину</a>
            </p>
        </div>
    }

    <pagination class="d-flex w-100 justify-content-center"
                total-pages="@Model.PageVM.TotalPages"
                route="/Products/@Model.PageVM.UrlSlug"
                current-page="@Model.PageVM.CurrentPage">
    </pagination>
</div>
